In [1]:
import pandas as pd

In [56]:
orig_df = pd.read_csv("cph_pop_and_access_100m.csv")

orig_df

,Unnamed: 0,lon,lat,population_density,id,geometry,osm_node_count,acc_restaurant_dist,acc_bar_dist,acc_school_dist,acc_toilets_dist,acc_college_dist,acc_hospital_dist,avg_restaurant_dist,avg_bar_dist,avg_school_dist,avg_toilets_dist,avg_college_dist,avg_hospital_dist
0,404935,12.315833,55.775000,6.256752,404935,"POLYGON ((12.3154166329899 55.77458331163753, ...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,404936,12.316667,55.775000,6.607995,404936,"POLYGON ((12.31624996631995 55.77458331163753,...",1,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
2,404937,12.319167,55.775000,6.797835,404937,"POLYGON ((12.31874996631012 55.77458331163753,...",2,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
3,404938,12.320000,55.775000,6.738600,404938,"POLYGON ((12.31958329964018 55.77458331163753,...",8,8000.0,8000.0,8000.0,8000.0,8000.0,8000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
4,404939,12.320833,55.775000,6.722388,404939,"POLYGON ((12.32041663297023 55.77458331163753,...",4,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59895,556543,12.596667,55.557500,1.806146,556543,"POLYGON ((12.59624996521844 55.55708331247756,...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59896,556872,12.585833,55.556667,2.767010,556872,"POLYGON ((12.58541663192773 55.55624997914744,...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59897,556873,12.586667,55.556667,2.241621,556873,"POLYGON ((12.58624996525779 55.55624997914744,...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59898,556874,12.588333,55.556667,2.739544,556874,"POLYGON ((12.5879166319179 55.55624997914744, ...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59899,556875,12.595000,55.556667,1.825089,556875,"POLYGON ((12.59458329855833 55.55624997914744,...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
amenity_distances = ["avg_restaurant_dist", "avg_bar_dist", "avg_school_dist", "avg_toilets_dist", "avg_college_dist", "avg_hospital_dist"]

df = orig_df[["lon", "lat", "population_density"] + amenity_distances]

df

,lon,lat,population_density,avg_restaurant_dist,avg_bar_dist,avg_school_dist,avg_toilets_dist,avg_college_dist,avg_hospital_dist
0,12.315833,55.775000,6.256752,NaN,NaN,NaN,NaN,NaN,NaN
1,12.316667,55.775000,6.607995,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
2,12.319167,55.775000,6.797835,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
3,12.320000,55.775000,6.738600,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
4,12.320833,55.775000,6.722388,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
...,...,...,...,...,...,...,...,...,...
59895,12.596667,55.557500,1.806146,NaN,NaN,NaN,NaN,NaN,NaN
59896,12.585833,55.556667,2.767010,NaN,NaN,NaN,NaN,NaN,NaN
59897,12.586667,55.556667,2.241621,NaN,NaN,NaN,NaN,NaN,NaN
59898,12.588333,55.556667,2.739544,NaN,NaN,NaN,NaN,NaN,NaN
59899,12.595000,55.556667,1.825089,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df = df.fillna(1000)

In [59]:
df

,lon,lat,population_density,avg_restaurant_dist,avg_bar_dist,avg_school_dist,avg_toilets_dist,avg_college_dist,avg_hospital_dist
0,12.315833,55.775000,6.256752,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
1,12.316667,55.775000,6.607995,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
2,12.319167,55.775000,6.797835,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
3,12.320000,55.775000,6.738600,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
4,12.320833,55.775000,6.722388,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
...,...,...,...,...,...,...,...,...,...
59895,12.596667,55.557500,1.806146,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59896,12.585833,55.556667,2.767010,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59897,12.586667,55.556667,2.241621,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59898,12.588333,55.556667,2.739544,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59899,12.595000,55.556667,1.825089,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0

In [60]:
df["avg_user_selection"] = 0

df

,lon,lat,population_density,avg_restaurant_dist,avg_bar_dist,avg_school_dist,avg_toilets_dist,avg_college_dist,avg_hospital_dist,avg_user_selection
0,12.315833,55.775000,6.256752,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0
1,12.316667,55.775000,6.607995,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0
2,12.319167,55.775000,6.797835,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0
3,12.320000,55.775000,6.738600,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0
4,12.320833,55.775000,6.722388,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0
...,...,...,...,...,...,...,...,...,...,...
59895,12.596667,55.557500,1.806146,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0
59896,12.585833,55.556667,2.767010,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0
59897,12.586667,55.556667,2.241621,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0
59898,12.588333,55.556667,2.739544,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0
59899,12.595000,55.556667,1.825089,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,0

In [61]:
# user makes selection

user_selected_amenities = ["avg_restaurant_dist", "avg_bar_dist", "avg_toilets_dist"]

df["avg_user_selection"] = (df[user_selected_amenities[0]] + df[user_selected_amenities[1]] + df[user_selected_amenities[2]])/len(user_selected_amenities)

df

,lon,lat,population_density,avg_restaurant_dist,avg_bar_dist,avg_school_dist,avg_toilets_dist,avg_college_dist,avg_hospital_dist,avg_user_selection
0,12.315833,55.775000,6.256752,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
1,12.316667,55.775000,6.607995,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
2,12.319167,55.775000,6.797835,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
3,12.320000,55.775000,6.738600,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
4,12.320833,55.775000,6.722388,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
...,...,...,...,...,...,...,...,...,...,...
59895,12.596667,55.557500,1.806146,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59896,12.585833,55.556667,2.767010,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59897,12.586667,55.556667,2.241621,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59898,12.588333,55.556667,2.739544,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59899,12.595000,55.556667,1.825089,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0

In [67]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'iframe'

#polygons_df["lon"] = polygons_df.geometry.x
#polygons_df["lat"] = polygons_df.geometry.y

px.set_mapbox_access_token(open(".mapbox_token").read())
fig = px.scatter_mapbox(
        df, 
        #pd.DataFrame({"lon":[0], "lat":[0]}),
        lon="lon", lat="lat", 
        hover_data=["population_density"] + user_selected_amenities,
        size="population_density",
        color='avg_user_selection',
        color_continuous_scale="Viridis_r", #viridis reversed
        mapbox_style="outdoors",
    )

fig.show()

In [68]:
# x and y given as array_like objects
import plotly.express as px
fig = px.scatter(
    df,
    x="population_density", 
    y="avg_user_selection"
)
fig.show()

In [69]:
orig_df

,Unnamed: 0,lon,lat,population_density,id,geometry,osm_node_count,acc_restaurant_dist,acc_bar_dist,acc_school_dist,acc_toilets_dist,acc_college_dist,acc_hospital_dist,avg_restaurant_dist,avg_bar_dist,avg_school_dist,avg_toilets_dist,avg_college_dist,avg_hospital_dist
0,404935,12.315833,55.775000,6.256752,404935,"POLYGON ((12.3154166329899 55.77458331163753, ...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,404936,12.316667,55.775000,6.607995,404936,"POLYGON ((12.31624996631995 55.77458331163753,...",1,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
2,404937,12.319167,55.775000,6.797835,404937,"POLYGON ((12.31874996631012 55.77458331163753,...",2,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
3,404938,12.320000,55.775000,6.738600,404938,"POLYGON ((12.31958329964018 55.77458331163753,...",8,8000.0,8000.0,8000.0,8000.0,8000.0,8000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
4,404939,12.320833,55.775000,6.722388,404939,"POLYGON ((12.32041663297023 55.77458331163753,...",4,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59895,556543,12.596667,55.557500,1.806146,556543,"POLYGON ((12.59624996521844 55.55708331247756,...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59896,556872,12.585833,55.556667,2.767010,556872,"POLYGON ((12.58541663192773 55.55624997914744,...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59897,556873,12.586667,55.556667,2.241621,556873,"POLYGON ((12.58624996525779 55.55624997914744,...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59898,556874,12.588333,55.556667,2.739544,556874,"POLYGON ((12.5879166319179 55.55624997914744, ...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59899,556875,12.595000,55.556667,1.825089,556875,"POLYGON ((12.59458329855833 55.55624997914744,...",0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
temp_df = orig_df.fillna(1000)
import shapely.wkt


temp_df["geometry"] = temp_df["geometry"].apply(lambda x: shapely.wkt.loads(x))
import geopandas as gdf
gdf = gdf.GeoDataFrame(temp_df[["population_density", "geometry", "avg_restaurant_dist","avg_bar_dist","avg_school_dist", "avg_toilets_dist", "avg_college_dist", "avg_hospital_dist"]], geometry="geometry")


gdf

,population_density,geometry,avg_restaurant_dist,avg_bar_dist,avg_school_dist,avg_toilets_dist,avg_college_dist,avg_hospital_dist
0,6.256752,"POLYGON ((12.31542 55.77458, 12.31625 55.77458...",1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
1,6.607995,"POLYGON ((12.31625 55.77458, 12.31708 55.77458...",1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
2,6.797835,"POLYGON ((12.31875 55.77458, 12.31958 55.77458...",1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
3,6.738600,"POLYGON ((12.31958 55.77458, 12.32042 55.77458...",1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
4,6.722388,"POLYGON ((12.32042 55.77458, 12.32125 55.77458...",1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
...,...,...,...,...,...,...,...,...
59895,1.806146,"POLYGON ((12.59625 55.55708, 12.59708 55.55708...",1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59896,2.767010,"POLYGON ((12.58542 55.55625, 12.58625 55.55625...",1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59897,2.241621,"POLYGON ((12.58625 55.55625, 12.58708 55.55625...",1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59898,2.739544,"POLYGON ((12.58792 55.55625, 12.58875 55.55625...",1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
59899,1.825089,"POLYGON ((12.59458 55.55625, 12.59542 55.55625...",1000.0,1000.0,1000.0,1000.0,1000.0,1000.0

In [76]:
gdf.to_file("cph_snippet_100m.json", driver="GeoJSON")